.acquisition-flow__register-data {
  margin-top: 24px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;

  &-title {
    margin-bottom: 2.4rem;
  }

  >div {
    width: 100%;
    min-width: 100%;
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
