.workshop-card {
  border: 1px solid #E0E0E0;
  padding: 1.6rem;
  border-radius: 0.6rem;
  cursor: pointer;

  &.--selected {
    border: 1px solid #0046C0;
    cursor: initial;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.4rem;
      letter-spacing: -0.01em;
      text-align: left;
    }
  }
}

.workshop-skeleton {
  border: 1px solid #E0E0E0;
  padding: 1.6rem;
  border-radius: 0.6rem;
  display: grid;
  grid-template-columns: 2.2rem 1fr;
  align-items: stretch;
  gap: 1.6rem;

  &__text {
    display: grid;
    gap: 0.8rem;
  }
}
