.section-products-highlight {
  position: relative;

  .card-main {
    width: unset !important;
    overflow: hidden;

    &__title {
      line-height: 20px;
      margin-top: 4px;
    }
  }

  &__container {
    display: grid;
  }

  @media screen and (min-width: 768px) {
    &__price {
      font-size: 32px;
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
      margin-top: 4px;
    }
  }
}
