.button {
  padding: 1.2rem 2.4rem;
  font-size: $text-md;
  font-weight: $semi;
  margin-top: $spacing-4;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.fluid {
  width: 100%;
}

.contain {
  width: max-content;
}

.insurance {
  color: $white;
  background: linear-gradient(135deg, $blue3, $blue7);

  &:hover {
    background: linear-gradient(135deg, $blue7, $blue7);
  }
}

.danger {
  color: $white;
  background: $red6;

  &:hover {
    background: $red7;
  }
}

.disabled {
  color: $gray7;
  background: $gray2;

  &:hover {
    background: $gray3;
  }
}
