.workshop-flow {
	&__button-back {
		margin: 0px 0 48px;
		position: relative;
		left: -12px;
	}

	&__stepper {
		position: relative;
	}

	&__stepper-next-step {
		position: absolute;
		top: 44px;
	}

	&__layout {
		margin-top: 5.6rem;
		padding-bottom: 3.2rem;
	}

	@media screen and (min-width: 1024px) {
		&__stepper-next-step {
			position: unset;
			top: 0px;
		}
	}
}
