.modal-first-acquisition {
	padding-top: 2.4rem;

	@media screen and (min-width: 1024px) {
		margin-bottom: 4rem;

		.modal__body {
			height: unset;
		}
	}

	&__service-quantity {
		margin-bottom: 24px;
	}

	.multiple-options {
		max-height: 60vh;
		height: max-content;
		overflow-y: auto;
	}

	.modal__body {
		padding-bottom: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		p {
			margin: 0;
		}
	}

	.modal__body::-webkit-scrollbar {
		width: none;
	}

	&__service-quantity {
		margin-left: 8px;
		color: #404040;
		font-weight: 700;
	}

	.product-options {
		height: calc(90vh - 250px);
		overflow: auto;
		margin-bottom: 6rem;
	}
}