.switch {
  max-height: 20px;
  padding: 0.6rem;
  position: relative;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #d1d5db;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: #9ca3af;
  }
}

.switchChecked {
  background: #3b82f6;
  border-color: #3b82f6;

  &:hover {
    background: #2563eb;
    border-color: #2563eb;
  }
}

.switchNoChecked {
  background-color: #f3f4f6;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 99px;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease-in-out;
}

.checked {
  background-color: white;
  right: 4px;
  left: auto;
}

.noChecked {
  background-color: #9ca3af;
  left: 4px;
  right: auto;
}

.fluid {
  width: 100%;
}

.contain {
  height: 20px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}
