.section-cards-content {

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 2.4rem;
  }

  .card-content {
    &__root {
      height: auto;
      cursor: pointer;
    }

    &__buttons {
      padding-top: 1.6rem;
      margin-top: auto;
    }
  }

  @media screen and (min-width: 768px) {
    &__cards {
      flex-direction: row;
    }
  }
}