@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 62.5%;
	background: linear-gradient(135deg, #f3f4f6 0%, #e4e5e6 100%);
}

body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

.system {
	color: #ce21a5;
	background-color: rgba(206, 33, 165, 0.2);
}

.custom {
	color: #2da037;
	background-color: rgba(45, 160, 55, 0.3);
}

.card {
	color: rgb(118, 48, 210);
	background-color: rgba(118, 48, 210, 0.2);
}

.data {
	color: #848b21;
	background-color: rgba(199, 210, 48, 0.3);
}

.hero {
	color: #3b82f6;
	background-color: rgba(59, 130, 246, 0.2);
}
