.acquisition-flow-appointments {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8.8rem;

  .acquisition-flow-appointment {
    width: 100%;
  }

  .acquisition-flow-error {
    width: 100%;
  }

  .card-resume {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .acquisition-flow-appointment {
      width: 48.5%;
    }

    .acquisition-flow-error {
      width: 48.5%;
    }

    .card-resume {
      width: 48.5%;
    }

    width: auto;

    .card-resume__body {
      width: auto;
    }
  }
}