.workshop-flow__address {
	margin-bottom: 48px;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr;

  &__left__section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem
  }

	.address-form {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

  .card-resume,
  .card-resume__body {
    width: 100%;
  }

	.input__root.--disabled {
		.input__box {
			background-color: #f7f7f7;
		}

		.input__label {
			color: #808080;
		}

		i {
			color: #0046c0;
		}
	}

	.toggle-cep-icon {
		position: absolute;
		right: 1.2rem;
		top: 25%;
		cursor: pointer;
	}

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
