.modal__body {
  overflow: auto !important;
}

.margin-default {
  margin-bottom: 4rem;
}

@media screen and (min-width: 1224px) {
  .margin-default {
    margin-bottom: 6.4rem;
  }
}

.no-scroll {
  overflow: hidden;
}
