@mixin scrollable($overflow-x: true, $overflow-y: false) {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: if($overflow-x, auto, hidden);
  overflow-y: if($overflow-y, auto, hidden);
  gap: 1.2rem;
  padding: 4px 4px 10px;

  &::-webkit-scrollbar {
    height: if($overflow-x, 8px, auto);
    width: if($overflow-y, 8px, auto);
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}

.scrollable-horizontal {
  @include scrollable(true, false);
}

.scrollable-vertical {
  @include scrollable(false, true);
}

.scrollable-both-directions {
  @include scrollable(true, true);
}
