.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.text {
  font-size: 0.8rem;
  color: $gray2;
  line-height: 20px;
}
