.modal-caps-service {
	&__checkbox-container {
		display: flex;
		flex-direction: column;
	}

	.checkbox__root {
		margin-bottom: 2.4rem;
		align-items: normal;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&.--no-margin {
			margin-bottom: 1.2rem;
		}

		&[aria-disabled='true'] {
			cursor: not-allowed;
			opacity: 0.6;
			pointer-events: none;
		}
	}

	.checkbox__input svg {
		pointer-events: none;
	}

	.textarea__root {
		width: auto;
		margin-right: 1.2rem;
		margin-bottom: 3.2rem;
		margin-left: 3.2rem;

		&[aria-disabled=true] {
			cursor: not-allowed;
			opacity: 0.6;
			pointer-events: none;
		}
	}

	.textarea__field {
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 0.4rem;
		padding: 0.8rem;

		&[aria-disabled='true'] {
			cursor: not-allowed;
			color: #999;
		}
	}
}