.multiple-options {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;

  &__service {
    min-height: 44px;
    padding: 8px 12px;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__service:last-child {
    border-bottom: 1px solid transparent;
  }

  &__selection {
    font-family: 'Porto Roobert';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__number {
    margin: 0 10px;
  }

  svg {
    cursor: pointer;
  }
}