.pageBuilder {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerContent {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  :first-child {
    margin-right: 8px;
  }
}

.title {
  font-size: $text-2xl;
  font-weight: $bold;
  color: $gray7;
  margin-bottom: 3.2rem;
}
