.section-cep-with-card-price {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 6.4rem;

  @media screen and (min-width: 1024px) {
    display: grid;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__box_input {
    margin-bottom: 24px;
  }

  .input__helper-text-cep {
    color: #0046c0;
    text-decoration: underline;
    cursor: pointer;
  }

  .section-cep-with-card-price__notification {
    height: auto;
    width: auto;
    margin-bottom: 2.4rem;
  }

  .btn-loader {
    position: absolute;
    border: 3px solid #0046c0;
    border-bottom-color: transparent;
    right: 10px;
    top: 10px;
  }
}
