.cart {
	&__container {
		position: absolute;
		top: 100%;
		z-index: 1;
		border-radius: 1.2rem;
		background-color: white;
		right: 0;
		display: flex;
		flex-direction: column;
		max-width: 34rem;
		box-shadow: 4px 0px 25px 0px #00000040;
		&__title {
			display: flex;
			gap: 19.5rem;
			justify-content: space-between;
			padding: 1.6rem 1.6rem 2rem 1.6rem;
			border-bottom: 1px solid #e0e0e0;
			i {
				cursor: pointer;
			}
		}
		&__div {
			position: absolute;
			top: -1%;
			background-color: white;
			right: 2%;
			z-index: 2;
			width: 1.8rem;
			height: 1.8rem;
			transform: rotate(45deg);
		}
		&__fullprice {
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
			padding: 0.8rem 1.6rem 1.6rem 1.6rem;
			background-color: #f7f7f7;
			border-top: 1px solid #c8c8c8;
			&__total {
				display: flex;
				margin-top: 1.6rem;
				justify-content: space-between;
			}
		}
		&__products {
			display: flex;
			flex-direction: column;
			gap: 1.6rem;
			padding: 1.6rem 1.6rem 2rem 1.6rem;
			&__item {
				display: flex;
				padding: 0.8rem;
				border: 1px solid #e0e0e0;
				border-radius: 1.2rem;
				justify-content: space-between;
				&__price {
					display: flex;
					flex-direction: column;
					align-items: end;
				}
				&__details {
					&__discount {
						margin-top: 0.8rem;
						background-color: #d9f1ff;
						border-radius: 8px;
						padding: 6px 8px;
						display: flex;
						gap: 0.8rem;
						align-items: center;
					}
				}
			}
		}
		&__empty {
			display: flex;
			padding: 3.2rem 1.6rem 5rem 1.6rem;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 3.2rem;
		}
	}
}
