.section-card-content-side-by-side {
	margin-bottom: 8.4rem;

  &__title {
    margin-bottom: 2.4rem;
  }

  .slick-list {
    transform: translate3d(-8px, 0, 0);

    & .slick-slide > div {
      padding: 0 8px;
    }
  }

  .hide-mouse-over {
    cursor: initial;
  }

  .card-content__root {
    border: 1px solid #E0E0E0;
  }

  .card-content__image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }

	&__cards {
		overflow: auto;
		gap: 24px;
		display: flex;

		&::-webkit-scrollbar {
			display: none;
		}

		.card-content__root {
			width: 288px;
			border: 1px solid #e0e0e0;
		}
	}

	@media screen and (min-width: 1024px) {
		margin-bottom: 6.4rem;

    .slick-list {

      & .slick-slide > div {
        padding: 0 0px;
      }
    }

    .slick-track .slick-slide {
      width: 288px!important;
      margin-right: 0.8rem;
    }

		&__cards {
			justify-content: space-between;
		}
	}

  @media screen and (min-width: 1440px) {
    .slick-track .slick-slide {
      margin-right: 2.4rem;
    }
  }
}

.hide-on-desktop {
  display: block;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.hide-on-mobile {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.grid {
  .row {
    align-items: baseline;
    width: 100%;
    gap: 16px;
  }
}