.dashboardLayout {
  display: flex;
}

.aside {
  width: 260px;
  height: 100vh;
  background-color: $white;
  padding: 1.5rem;
  overflow-y: auto;
  transition: width 0.3s ease;

  .logo {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    margin-bottom: 2rem;
    font-weight: bold;
    color: $blue7;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .navItem {
      color: $gray7;
      font-size: 1.6rem;
      padding: 0.75rem 1rem;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $gray4;
        color: $gray9;
      }

      &.active {
        background-color: $blue7;
        color: $white;
        font-weight: 600;

        svg {
          stroke-width: 2;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        stroke-width: 1.5;
        transition: stroke-width 0.2s ease;
      }
    }
  }

  // Responsividade
  @media (max-width: 768px) {
    width: 80px;

    .logo {
      font-size: 1.2rem;
    }

    .nav {
      .navItem {
        justify-content: center;

        span {
          display: none;
        }

        svg {
          margin-right: 0;
        }
      }
    }
  }
}

.contentContainer {
  background-color: $gray1;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 2.4rem;
}
