.price-tag {
	padding: 4px 8px;
	border-radius: 6px;

	&.--porto-week {
		background-color: #404040;

		span {
			color: #E0E0E0;
		}
	}

	&.--compre-e-ganhe {
		background-color: #0046C0;

		span {
			color: #D9F1FF;
		}
	}

	&.--oferta {
		span {
			color: #0046C0;
			text-transform: capitalize;
		}
	}
}