.button {
  width: 120px;
  height: 120px;
  color: $gray6;
  border: 1px dashed $gray3;
  border-radius: 4px;
  background-color: $gray2;

  &:hover {
    background-color: $gray3;
  }

  > svg {
    font-size: 2rem;
  }
}

.isDragging {
  border: 1px solid $white;
  background-color: rgba($color: $green1, $alpha: 1);
}
