.acquisition-flow-rescheduling-hours {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__hour-container {
    min-height: 48px;
    padding: 4px 12px;
    border-bottom: 1px solid #c8c8c8;
    position: relative;
    display: flex;
    justify-content: space-between;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  &__hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .radio__root {
    align-items: center;
  }
}
