$color-background: #F7F7F7;
$color-overline: #5F5F5F;
$color-caption: #29684E;
$color-divider: #C8C8C8;
$color-text: #1F1F1F;
$color-text-secondary: #5F5F5F;

$border-radius: 16px;

$transition-speed: 0.7s;
$transition-speed-fast: 0.3s;

$font-weight-bold: bold;
$font-weight-regular: normal;

$spacing-small: 0.8rem;
$spacing-medium: 1.6rem;
$spacing-large: 2.4rem;

$media-breakpoint: 768px;
