.link {
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  svg {
    width: 1.8rem;
  }
}

.fluid {
  width: 100%;
}

.contain {
  width: max-content;
}

.insurance {
  color: $white;
  background: $blue6;

  &:hover {
    background: $blue7;
  }
}

.danger {
  color: $white;
  background: $red6;

  &:hover {
    background: $red7;
  }
}

.disabled {
  color: $gray7;
  background: $gray3;

  &:hover {
    background: $gray3;
  }
}

.ghost {
  color: $gray7;
  background: transparent;

  &:hover {
    background: rgba($color: $gray1, $alpha: 0.8);
  }
}

.black {
  color: $white;
  background: $black;

  &:hover {
    background: rgba($color: $gray9, $alpha: 0.8);
  }
}

.sm {
  padding: 0.4rem 0.8rem;
  font-size: $text-md;
  font-weight: $semi;
}

.md {
  padding: 0.8rem;
  font-size: $text-md;
  font-weight: $semi;
}

.lg {
  padding: 0.8rem 1.6rem;
  font-size: $text-md;
  font-weight: $semi;
}
